/*Configuração da Div*/
#navbar {
    border-bottom: 1px solid rgb(216, 209, 209);
}

#divB {
    height: 737px; 
    /*background-color: aliceblue;*/  
}
.divB1a {
   /* background-color: aqua;*/
    height: 150px;
    width: 163px;
}
.divB1b {
    /*background-color: aquamarine;*/
    height: 150px;
    width: 148px;
}
.div2 {
    background-color: white;
}
.div2a {
    background-color: white;
}
.divC {
    color: black;
    border-top: 1px solid rgb(216, 209, 209);
    height: -10px;     
}
.divC p{
    text-align: center;
    color: black;
}

/*Formatação do menu*/
#menu li {
    padding: 10px;
    margin: 2px;
    transition: background-color 3s; 
}
#menu1 a:hover {
    border-bottom: 3px solid #46AA5B;
}
#menu1 a {
    color: black;
}

/*formatando os links*/
/*link menu*/
.nav-link a {
    color: rgba(0, 0, 0, 0.692);
    text-decoration: none;
}
.nav-link a:hover {
    color: rgb(90, 168, 107);
    /*text-decoration: underline;*/
}

/*Configuração do logo*/
#logo {
    position: absolute;
    margin-left: 20px;
}

/*Configuração das imagens*/
#about {
    position: absolute;
    left: -10px;
}
#aboutus {
    top: 50%;
    left: 50%;
    transform: translate(5%, -60%);
}
#house {
    top: 50%;
    left: 50%;
    transform: translate(20%, -60%);
}
/*Configuração do Texto*/
.div2 h1 {
    color: rgb(75, 73, 73);
    margin-top: 70px;
    width: 290px;
    border-bottom: 3px solid #46AA5B;
    border-bottom-width: 5px;
    }
.divB1a h2 {
    text-align: center;
    font-size: 20px;
}
.divB1b h2 {
    text-align: center;
    font-size: 20px;
}