/*#navbar {
    border-bottom: 1px solid rgb(216, 209, 209);
}*/

/*Formatação do menu*/
#menu li {
    padding: 10px;
    margin: 2px;
    transition: background-color 3s; 
}
#menu1 a:hover {
    border-bottom: 3px solid #46AA5B;
}
#menu1 a {
    color: black;
}
#divB {
    height: 737px;
}