#navbar {
    border-bottom: 1px solid rgb(216, 209, 209);
}

/*Formatação do menu*/
#menu li {
    padding: 10px;
    margin: 2px;
    transition: background-color 3s; 
}
#menu1 a:hover {
    border-bottom: 3px solid #46AA5B;
}
#menu1 a {
    color: black;
}
#divB {
    height: 737px;
}

/*Configuração do Texto*/
.div2 h1 {
    color: rgb(75, 73, 73);
    margin-top: 70px;
    width: 290px;
    border-bottom: 3px solid #46AA5B;
    border-bottom-width: 5px;
    }

/*Formatação do Carrousel*/
#car {
    border-radius: 8px;
}